################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RadDataGridTest/.vs/RadDataGridTest/v15
/RadDataGridTest/RadDataGridTest/bin
/RadDataGridTest/RadDataGridTest/obj
/RadDataGridTest/RadDataGridTest/RadDataGridTest.csproj.user
/RadDataGridTest/RadDataGridTest/AppPackages
